<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a [href]="site">
            Наш сайт
          </a>
        </li>
        <li>
          <a (click)="openAboutDialog()" class="link">
            О приложении
          </a>
        </li>
        <li>
          <a [href]="blog">
            Блог
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
          document.write(new Date().getFullYear())
      </script>
      , made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
    </div>
  </div>
</footer>
