<!--редактирование/создание задачи-->

<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <!--  название задачи-->
  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>
    <input
        #inputTitle
        (keydown.enter)="onConfirm()"
        [(ngModel)]="newTitle"
        [disabled]="task.completed != null && task.completed !== 0"
        matInput><!--по нажатие на ентер можем сразу сохранить задачу-->

    <button (click)="newTitle=''"
            *ngIf="newTitle && newTitle.trim().length > 0" aria-label="Clear"
            class="dialog-task-title" mat-button
            mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>

  <!--  выпадающий список категорий-->
  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>
    <!-- если задача завершена - контрол не будет доступен -->
    <mat-select [(value)]="newCategoryId" [disabled]="task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat.id">
        {{cat.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--  выпадающий список приоритетов-->
  <!--  работаем с id объектов, чтобы корректно работали компоненты выпад. списка-->
  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>
    <!-- если задача завершена - контрол не будет доступен -->
    <mat-select [(value)]="newPriorityId" [disabled]="task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let pri of priorities" [value]="pri.id">
        {{pri.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--календарь - срок выполнения-->
  <mat-form-field>
    <input #inputDate
           (click)="picker.open()"
           [(ngModel)]="newDate"
           [disabled]="task.completed != null && task.completed !== 0"
           [matDatepicker]="picker"
           matInput
           placeholder="Укажите срок выполнения"
           readonly="true">
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <!-- иконка календаря (для открытия календаря) -->

    <mat-datepicker #picker></mat-datepicker> <!-- компонент календаря (открывается по нажатию)-->

    <!--кнопка очистки даты-->
    <button (click)="newDate = null"
            *ngIf="inputDate.value.trim().length > 0"
            [disabled]="task.completed != null && task.completed !== 0"
            aria-label="Clear" class="size25"
            mat-button mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div class="row">
    <div class="col-12">
      <!-- если задача завершена - контролы не будут доступны -->

      <span (click)="!task.completed && setToday()" [ngClass]="{'disabled': task.completed}"
            class="ready-date">
      Сегодня
    </span>
      <span (click)="!task.completed && addDays(1)" [ngClass]="{'disabled': task.completed}"
            class="ready-date">
      Завтра
    </span>
      <span (click)="!task.completed && addDays(2)" [ngClass]="{'disabled': task.completed}"
            class="ready-date">
      Послезавтра
    </span>
      <span (click)="!task.completed && addDays(7)" [ngClass]="{'disabled': task.completed}"
            class="ready-date">
      Через неделю
    </span>
    </div>
  </div>
  <div class="gap20"></div>
</mat-dialog-content>

<!--кнопки возможных действий-->
<mat-dialog-actions>
  <div class="col-md-5 col-12">
    <button (click)="onConfirm()"
            [disabled]="inputTitle.value.trim().length==0"
            color="primary"
            mat-raised-button> <!-- если пустой текст - кнопка "Сохранить" будет недоступна -->
      Сохранить
    </button>

    <button (click)="onCancel()" mat-raised-button>Отмена</button>

  </div>

  <div class="col-md-7 col-12 text-right">
    <button (click)="complete()" *ngIf="canComplete && task && !task.completed"
            class="green" mat-button>
      Завершить задачу
    </button>

    <button (click)="activate()" *ngIf="canComplete && task && task.completed"
            class="green" mat-button>
      Активировать
    </button>

    <button (click)="delete()" *ngIf="canDelete"
            class="red" mat-button>
      Удалить задачу
    </button>
  </div>
</mat-dialog-actions>
