<div class="wrapper ">
  <app-categories
    (addCategory)="onAddCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (searchCategory)="onSearchCategory($event)"
    (selectCategory)="onSelectCategory($event)"
    (updateCategory)="onUpdateCategory($event)"

    [categories]="categories"
    [selectedCategory]="selectedCategory"
    [categorySearchValues]="categorySearchValues"
    [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"

  ></app-categories>
  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">

      <!-- <app-header
         (toggleStat)="toggleStat($event)"
         [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
         [showStat]="showStat"
       ></app-header>-->

    </nav>

    <div class="content">
      <div class="container-fluid">

        <!--Статистика-->
        <!--<app-stat
          [completeTasksInCategory]="completedCountInCategory"
          [showStat]="showStat"
          [totalTasksInCategory]="totalTasksCountInCategory"
          [uncompleteTasksInCategory]="uncompletedCountInCategory"
        ></app-stat>-->

        <div class="row">
          <div class="col-12">
            <app-tasks (addTask)="onAddTask($event)"

                       (addTask)="onAddTask($event)"
                       (deleteTask)="onDeleteTask($event)"
                       (paging)="paging($event)"
                       (searchAction)="onSearchTasks($event)"
                       [selectedCategory]="selectedCategory"
                       [taskSearchValues]="taskSearchValues"

                       (selectCategory)="onSelectCategory($event)"
                       (toggleSearch)="toggleSearch($event)"
                       (updateTask)="onUpdateTask($event)"
                       [priorities]="priorities"

                       [showSearch]="showSearch"
                       [tasks]="tasks"
                       [totalTasksFounded]="totalTasksFounded"

            >
            </app-tasks>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
