<div class="wrapper ">
  <app-categories
    (addCategory)="onAddCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (searchCategory)="onSearchCategory($event)"
    (selectCategory)="onSelectCategory($event)"
    (updateCategory)="onUpdateCategory($event)"

    [categories]="categories"
    [selectedCategory]="selectedCategory"
    [categorySearchValues]="categorySearchValues"
    [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"

  ></app-categories>
  <div class="main-panel">

    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <!--     шапка с меню -->
      <app-header
        [categoryName]="selectedCategory ? selectedCategory.title: 'Все'"
        [showStat]="showStat"
        (toggleStat)="toggleStat($event)"
      ></app-header>

    </nav>

    <div class="content">
      <div class="container-fluid">

        <!--Статистика-->
        <app-stat
          [dash]="dash"
          [showStat]="showStat"
        ></app-stat>

        <div class="row">
          <div class="col-12">
            <app-tasks
              (addTask)="onAddTask($event)"
              (deleteTask)="onDeleteTask($event)"
              (paging)="paging($event)"
              (searchAction)="onSearchTasks($event)"
              (selectCategory)="onSelectCategory($event)"
              (toggleSearch)="toggleSearch($event)"
              (updateTask)="onUpdateTask($event)"

              [categories]="categories"
              [selectedCategory]="selectedCategory"
              [priorities]="priorities"
              [taskSearchValues]="taskSearchValues"
              [showSearch]="showSearch"
              [tasks]="tasks"
              [totalTasksFounded]="totalTasksFounded"

            >
            </app-tasks>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
