<div *ngIf="showSearch" class="row">
  <div class="col-md-2 col-sm-12">
    <!--поиск задач-->
    <mat-form-field>
      <input
        (keydown.escape)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"
        (ngModelChange)="this.checkFilterChanged()"
        [(ngModel)]="filterTitle"
        matInput
        placeholder="Название"
      >

      <button
        (click)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"
        *ngIf="filterTitle && filterTitle.trim().length > 0"
        aria-label="Clear" class="clear-icon" mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
    <!--    фильтр по статусу-->
    <mat-form-field>
      <mat-select
        (selectionChange)="checkFilterChanged()" [(ngModel)]="filterCompleted"
        placeholder="Фильтр по статусу">
        <mat-option [value]="null">Все статусы</mat-option>
        <mat-option [value]="1">Завершенные задачи</mat-option>
        <mat-option [value]="0">Незавершенные задачи</mat-option>
      </mat-select>

      <button
        (click)="$event.stopPropagation(); filterCompleted = null; checkFilterChanged()"
        *ngIf="filterCompleted != null"
        aria-label="Clear" class="clear-icon" mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
    <!--фильтр по приоритету-->
    <mat-form-field>
      <mat-select (selectionChange)="checkFilterChanged()"
                  [(ngModel)]="filterPriorityId"
                  placeholder="Фильтр по приоритетам">
        <mat-option [value]="null">Все приоритеты</mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority.id">
          {{priority.title}}
        </mat-option>
      </mat-select>

      <button
        (click)="$event.stopPropagation(); filterPriorityId = null; checkFilterChanged()"
        *ngIf="filterPriorityId != null"
        aria-label="Clear" class="clear-icon" mat-button
        mat-icon-button

        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
    <mat-form-field>
      <mat-select (selectionChange)="checkFilterChanged()"
                  [(ngModel)]="filterSortColumn"
                  placeholder="Сортировка"
      >
        <!--        т.к. value без скобок, а значения в одинарных кавычках -
        то будут браться как текст (а не искать переменную в классе) -->
        <mat-option value='title'>Название</mat-option>
        <mat-option value='date'>Срок</mat-option>
        <mat-option value='priority'>Приоритет</mat-option>
        <mat-option value='category'>Категория</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-4 col-sm-12">
    <button
      (click)="$event.stopPropagation(); changedSortDirection(); checkFilterChanged()" aria-label="Sort direction"
      mat-button
      mat-icon-button

      matSuffix

    >
      <mat-icon>{{this.sortIconName}}</mat-icon>
    </button>


    <button (click)="initSearch()" [ngClass]="{'search-button': true, 'blink-button': changed}" color="accent"
            mat-raised-button>
      <mat-icon>search</mat-icon>
    </button>


    <button
      (click)="$event.stopPropagation(); clearSearchValues(); checkFilterChanged()" aria-label="Clear"
      mat-button
      matSuffix
    >
      Очистить
    </button>
  </div>
</div>

<div class="row ">

  <div class="col-md-2 col-sm-12">
    <button
      (click)="openAddTaskDialog()"
      [ngClass]="{'full-width': true}" color="primary" mat-raised-button>Добавить задачу
    </button>
  </div>

  <div class="col-md-2 col-sm-12 text-left align-middle-align-self-center">
    <span (click)="onToggleSearch()" *ngIf="showSearch" class="link">Скрыть список</span>
    <span (click)="onToggleSearch()" *ngIf="!showSearch" class="link">Показать список</span>
  </div>

  <div class="col-md-8 align-self-center">
    <span class="founded">
      Найдено задач: {{totalTasksFounded}}
    </span>

  </div>
</div>
<div class="row">

  <div class="col-md-12 task-list">
    <!--    список задач -->
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Список задач</h4>
      </div>
      <div *ngIf="tasks && tasks.length > 0" class="card-body table-responsive">

        <table [dataSource]="dataSource" data-intro="Список всех задач с возможностью редактирования"
               data-position='bottom' data-step="2"
               mat-table
               matSort>

          <!--      цвет приоритета-->
          <ng-container matColumnDef="color">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let task" [style.background-color]="getPriorityColor(task)"
                class="col-color"
                mat-cell></td>
          </ng-container>

          <!--      нумерация-->
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let index = index;" class="col-id" mat-cell>
              <!-- для сквозной нумерации -->
              {{index + 1 + taskSearchValues.pageNumber * taskSearchValues.pageSize}}

            </td>
          </ng-container>

          <!--      название задачи-->
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell>Название</th>
            <td (click)="openEditTaskDialog(task)" *matCellDef="let task"
                [class.completed]="task.completed"
                class="col-title pointer" class="col-title"
                mat-cell
            >
              {{task.title}}
            </td>
          </ng-container>

          <!--      дата выполнения-->
          <ng-container matColumnDef="date">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Срок</th>
            <td *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': task.date ==null} "
                class="col-date" mat-cell>
              {{task.date | taskDate}}
            </td>
          </ng-container>

          <!--      приоритет-->
          <ng-container matColumnDef="priority">
            <th *matHeaderCellDef mat-header-cell>Приоритет</th>
            <td *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': task.priority ==null}"
                class="col-priority" mat-cell>
              {{task.priority ? task.priority.title : "Без приоритета"}}
            </td>
          </ng-container>

          <!--      категория-->
          <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Категория</th>
            <td (click)="!task.completed && task.category && onSelectCategory(task.category)"
                *matCellDef="let task"
                [ngClass]="{'completed': task.completed, 'novalue': task.category ==null, 'link': !task.completed && task.category}"
                class="col-category"
                mat-cell>
              {{task.category ? task.category.title : "Без категории"}}
            </td>
          </ng-container>

          <!--доступные действия над задачей-->
          <ng-container matColumnDef="operations">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let task" [class.completed]="task.completed" class="col-operations"
                mat-cell>
              <button (click)="openDeleteDialog(task)" class="delete-icon"
                      mat-icon-button>
                <mat-icon aria-hidden="false">delete</mat-icon>
              </button>

              <button (click)="openEditTaskDialog(task)" class="edit-icon"
                      mat-icon-button>
                <mat-icon aria-hidden="false">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!--галочка для выполнения-->
          <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let task" class="col-select text-right" mat-cell>
              <mat-checkbox
                (change)="$event ? onToggleCompleted(task) : null"
                (click)="$event.stopPropagation()"
                [checked]="task.completed">

              </mat-checkbox>
            </td>
          </ng-container>

          <!--      заголовок таблицы-->
          <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>

          <!--      строки таблицы из тегов td-->
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
        <mat-paginator
          (page)="pageChanged($event)" [length]="totalTasksFounded"
          [pageIndex]="taskSearchValues.pageNumber" [pageSizeOptions]="[10,20,50,100]"
          [pageSize]="taskSearchValues.pageSize" showFirstLastButtons></mat-paginator>
      </div>

      <div *ngIf="tasks && tasks.length == 0"><p class="not-found">Ничего не найдено</p></div>
    </div>

  </div>
</div>
