<div class="sidebar" data-background-color="white" data-color="purple">

  <div id="categories">


    <div class="logo">

      <span class="nav-title">Категории</span>

      <!--    иконка добавления новой категории -->
      <span class="add-icon-area">

          <button (click)="openAddDialog()" class="add-icon" mat-icon-button>
      <mat-icon>add</mat-icon>
        </button>
    </span>

    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">


        <!--      поиск категорий -->
        <div class="search-category-area">

          <mat-form-field class="example-full-width">
            <input

              (keydown.escape)="clearAndSearch()"
              (ngModelChange)="this.checkFilterChanged()"
              [(ngModel)]="filterTitle"

              matInput
              maxlength="256"


              placeholder="Поиск категорий"

            />

            <button
              (click)="clearAndSearch()"
              *ngIf="filterTitle && filterTitle.trim().length > 0" aria-label="Clear" class="search-category-button"
              mat-button

              mat-icon-button

              matSuffix
            >
              <mat-icon>clear</mat-icon>
            </button>

            <button
              (click)="search()"

              *ngIf="filterTitle && filterTitle.trim().length > 0" [ngClass]="{'blink-button': filterChanged}"
              mat-button
              mat-icon-button

              matSuffix

            >
              <mat-icon>search</mat-icon>
            </button>

          </mat-form-field>

        </div>


        <!-- виртуальная категория 'Все'-->
        <li (click)="showCategory(null)" [class.active]="selectedCategory === null"
            class="nav-item category"
        >

          <a class="nav-link pointer">

            <!--          название категории-->
            <span class="all-category-title">Все</span>

            <!--сколько невыполненных задач-->
            <span class="uncompleted-count"> {{uncompletedCountForCategoryAll || 0}}</span>

          </a>
        </li>

        <!-- разделитель-->
        <div class="line"></div>

        <div *ngIf="categories === undefined && categories === null && categories.length === 0"><p class="not-found">
          Ничего не найдено</p></div>


        <li

          (click)="showCategory(category)"


          (mouseenter)="showEditIcon(true, index)"

          (mouseleave)="showEditIcon(false, index)"
          *ngFor="let category of categories, let index = index"
          [class.active]="(selectedCategory && category) && category.id === selectedCategory.id"

          class="nav-item category"
        >

          <a class="nav-link">

            <!--          название категории-->
            <span class="category-title">{{category.title}}</span>


            <!--         кнопка редактирования категории-->
            <span class="edit-category-icon-area">

            <mat-icon
              (click)="$event.stopPropagation(); openEditDialog(category)"
              *ngIf="indexMouseMove === index"

              class="edit-category-icon"


            >edit
            </mat-icon>
          </span>

            <!--сколько невыполненных задач-->
            <span class="uncompleted-count"> {{category.uncompletedCount || 0}}</span>

          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-background"></div>

  </div>
</div>
